// flexibler Inhaltsbereich mit fixer Sidebar
//used: Veräuferansicht; Checkoutpage


.flexfix-wrapper {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 45px;

    .flexfix-sidebar {
        width: @flexfix-sidebar-width;
        min-height: 1px;
        position: relative;
        padding: 12px 15px;
        box-shadow: -6px 0 8px -6px rgba(0,0,0,.25);

    }
    
    .flexfix-content {
        float: left;
        width: 100%;
        margin-right: -@flexfix-sidebar-width;
        position: relative;
         
    }
    
    .flexfix-content-inner {
        margin-right: @flexfix-sidebar-width;
        padding: 0 15px;
    }
}

.node-type-seller-profile,
.page-checkout { 


    @media screen and (max-width:@screen-sm-max) {

        .cart-toggle {
            display: inline-block;
            float:  right;
            width:  54px;
            height:   49px;
            position: relative;
            margin-top: 9px;
            margin-right: 8px;  
            cursor: pointer;

            .fa-shopping-cart {
                position: absolute;
                top: 4px;
                font-size:  43px;
                left:   4px;
            }

            .item-amount {
                top: 13px;
                position: relative;
                text-align: center;
                font-weight: 700;
                color: #fff;
                font-size: 13px;
                display: block;             
            }

            &.active {
                .fa-shopping-cart {
                    color:  @brand-primary;
                }
            }

           
        }

        .flexfix-sidebar {

            width: 100%;
            bottom: 0px;
            z-index: 2000;
            position: fixed;
            top: 100%;
            left: 0px;
            float: none;
            overflow-y: scroll;
            -moz-transition: all .3s linear;
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
            padding: 0px 0px 20px 0px;
            
            &.active {
                top: 66px;
                background: #fff;
                -moz-transition: all .7s cubic-bezier(0,1,.22,1);
                -webkit-transition: all .7s cubic-bezier(0,1,.22,1);
                -o-transition: all .7s cubic-bezier(0,1,.22,1);
                transition: all .7s cubic-bezier(0,1,.22,1);
            }

            .cart-wrapper {
                width: 600px;
                margin: 0 auto;
                padding: 0 15px;
            }  

        }

        .flexfix-content {
            float: none;
            margin-right: 0px;
        }

        .flexfix-content-inner {
            margin-right: 0px;
        }
    }

     @media screen and (max-width:@screen-xs-max) {
         

        .flexfix-sidebar {
                .cart-wrapper {
                    width: 100%;
                    margin: 0;
                } 
        }

     }
}