#detailModal {

    .modal-dialog {
        width: auto;
        margin: 10px;

        @media screen and (min-width: @screen-md-min) {
            width: 992px;
            margin: 30px auto;
        }
    }

    .modal-title {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 19px;
    }

    .modal-header {
        padding: 0px;
        overflow: hidden;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

}