.navbar-brand {
    
    .form-item {
        margin: 0;
    }
     
     .input-group {
        width: 396px;
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        
        .input-group-addon {
            display: inline-block;
        }
        
        .form-control {
            width: 60%;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }
     }
     
     
   
}