.zipcodeselect,
.directoryselect {
    text-align: center;
    padding: 42px 25px;
    background-color: rgba(250,250,250,0.9);
    border-radius: 5px;
    margin: 40px 0px;
    
    h3 {
         margin-top: 0px;
    }
    
    .toggle-link {
        margin-bottom: 10px;
        display: inline-block;
    }
    
    .proceed-info {
        margin: 24px 0px 0px 10px;
    }
    .list-inline > li {
        padding-left: 15px;
        padding-right: 15px;
    }
}
 

 