.node-type-seller-profile {
    
   
    
    .affix-top {
        
    }
    
    .affix {
       top: 65px;
       right: 0px;
        position: fixed;
    }
    
    .affix-bottom {
        
    }
}

.grid-l {
    width: 340px;
    float: left;
    position: relative;
    z-index: 10;
    min-height: 1px;
    padding: 0 15px;
    border-left: 1px solid #DDD;
}

.wrapper-m {
    float: left;
    width: 100%;
    margin-right: -340px;
    position: relative;
    z-index: 5;
     
}

.wrapper-m-inner {
    margin-right: 340px;
    padding: 0 15px;
}

.seller-infos {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    .seller-description {
        
        .description {
            max-width: 770px;
        }
    }
}

.product-grid {
    margin: 0;
    margin-left: -5px;
    margin-right: -5px;
    padding: 0;
    list-style: none;
    
    li {
        position: relative;
        min-height: 1px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
        float: left;
        width: 100%;
        
        @media screen and (min-width: 768px){
            width: 50%;
        }
        
        @media screen and (min-width: 937px){
            width: 33%;
        }
        
        @media screen and (min-width: 1200px){
            width: 25%;
        }
        
        @media screen and (min-width: 1386px){
            width: 20%;
        }
        
        
        .product-item {
            height: 230px;
            overflow: hidden;
            border: 1px solid #DDD;
            border-radius: 4px;
            padding-bottom:46px;
            position: relative;
            transition: all .1s linear;
            &:hover {
                box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
            }
            
            
            /* .image-wrapper {
                border-radius: 4px 4px 0 0;
            
            }*/
            
            .product-title {
                border-bottom: 1px solid #DDD;
                
                a {
                    padding: 10px;
                    display: block;
                    font-size: 14px;
                    vertical-align: middle;
                    position: relative;
                }
                
                .title {
                   //width: 73%;
                    display: inline-block;
                }
                .h4 {
                    margin: 0;
                }
                
                .details {
                    position: absolute;
                    right: 10px;
                    bottom: 0px;
                    font-size: 11px;
                    display: inline-block;
                    padding-top: 3px;
                    
                    .glyphicon {
                        top: 2px;
                    }
                }
            }
            
            .product-data {
                padding: 10px;
                
                .price-unit {
                   
                   .items {
                        margin-bottom: 10px;
                   }
                   .item {
                        border:  1px solid #ddd;
                        border-radius: 4px;
                        padding: 8px;
                        margin-right: 5px;
                        text-align: left;
                        position: relative;
                        line-height: 14px;
                        
                        &.active {
                        background-color: #F7F7F7;
                        }
                   }
                   
                    .price {
                        display: block;
                        font-size: 16px;
                    }
                    
                    .unit {
                        display: block;
                        font-size: 11px;
                    }
                    .text-mute {
                        color: #A2A2A2;
                        
                        strong {
                            color:#555555;
                        }
                    }
                }
                
            }
        }
        
      
         
        
        .add-to-cart-area {
            
            cursor:pointer;
            border-radius: 4px;
            background: #FFF;
            overflow: hidden;
            width: 100%;
            height: 46px;
            line-height: 46px;
            margin: 0;
            padding: 0;
            vertical-align: middle;
            border-top: 1px solid #DDD;
            position: absolute!important;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
             
            
        }
    }
    
}