.page-checkout {
    
    .lpr {
        padding-right: 3px;
    }
    
    .lpl {
        padding-left: 3px;
    }
    
    .address,
    .delivery-address,
    .form-item-iban {
        label {
            display: none;
        
            .no-placeholder & {
                display: inline-block;
            }
        } 
    }
    
    #rm-cart-checkout .form-submit {
        .btn();
        .btn-success();
        .btn-lg();
    }
    
    .checkout-item {
        padding-top: 14px;
        margin-bottom: 10px;
        
        .title {
            position: relative;
            
            h4 {
                border-bottom: 1px solid #ddd;
                padding-bottom: 5px;
                margin-bottom: 15px;
                font-size: 20px;
            }
            
            span {
                position: absolute;
                top: 3px;
                right: 15px;
                display: inline-block;
            }
        }
        
        input[type=radio],
        input[type=checkbox] {
            margin: 0px;
        }
        
        .form-item {
            margin-bottom: 0px;
        }
        
        .form-control {
            margin-bottom: 0px;
        }
        
        .form-type-radio.form-item-delivery,
        .form-type-radio.form-item-paymenttypes {
            float: left;
            position: relative;
            text-align: center;
            border: 1px solid #ddd;
            margin-right: 5px;
            border-radius: 4px;
            
            &:hover,
            &:focus,
            &:active {
                background-color: #F0F0F0;
            }
            &.active {
              background-color: #fff; 
            }
           
            &.active:after,
            &.active:before {
                content : '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -9px;
                width: 0;
                height: 0;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
            }
           
            &.active:before {
                border-top: 10px solid #fff;
                margin-top: -1px;
                z-index: 1;
            }
            
            &.active:after {
                border-top: 10px solid #ddd;
                margin-top: 0px;
            }
           
            input {
               display: block;
               position: absolute;
                top: 21px;
                left: 50%;
                margin-left: -6px;
            }
            
            label {
                font-weight: normal;
                width: 130px;
                height: 107px;
                padding-top:39px;
                position: relative;
                z-index: 10;
                display: inline-block;
                
                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    opacity: 0.58;
                    z-index: 1;
                    background: url('../images/sprite.png') no-repeat;
                }
            }
            
            &.active label:before {
                opacity: 1;
            }
            
            //label icons
            
            label[for=edit-delivery-pickup-agreement]:before {
                background-position: -266px -111px;
                width: 24px;
                height: 23px;
                margin-left: -11px;
                bottom: 17px;
            }
            
            label[for=edit-delivery-shipping-agreement]:before {
                background-position: -266px -85px;
                width: 32px;
                height: 18px;
                margin-left: -16px;
                bottom: 19px;
            }
            
            label[for=edit-paymenttypes-sepa]:before {
                background-position: -309px -81px;
                width: 79px;
                height: 25px;
                margin-left: -38px;
                bottom: 15px;
            }
            
            label[for=edit-paymenttypes-ibt]:before {
                background-position: -308px -110px;
                width: 74px;
                height: 24px;
                margin-left: -37px;
                bottom: 17px;
            }
            
            label[for=edit-paymenttypes-pp]:before {
                background-position: -393px -82px;
                width: 77px;
                height: 20px;
                margin-left: -37px;
                bottom: 19px;
            }
        }
    }
    
    .address {
        
        .row {
            margin-bottom: 6px;
            
            &:last-child {
                margin-bottom: 0px;
            }
        }
        
        .title h4 {
            margin-top: 0px;
        }
    }
    
    .delivery {
        
        #edit-delivery {
            .clearfix();
            margin-bottom: 15px;
        }
        
        .form-type-radios.form-item-pickup-spots {
            display: block;
            margin-bottom: 15px;
            background: #fff;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 4px;
            position:  relative;
            
            &:before,
            &:after {
                content : '';
                position: absolute;
                top: 100%;
                left:66px;
                margin-left: -9px;
                width: 0;
                height: 0;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
            }
            
            &:before {
                border-top: 10px solid #fff;
                margin-top: -1px;
                z-index: 1;
            }
            
            &:after {
                border-top: 10px solid #ddd;
                margin-top: 0px;
            }
        }
        // Selbstabholung
        .pickup-collapse {
            
            .clearfix();
             
            .day,
            .time {
                float: left;     
            }
            
            .day .form-item.form-type-select {
                border-left: 1px solid #ddd;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                border-top-left-radius: 4px;
                 border-bottom-left-radius: 4px;
            }
            
            .time .form-item.form-type-select {
                border-right: 1px solid #ddd;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                border-top-right-radius: 4px;
                 border-bottom-right-radius: 4px;
            }
             
            .form-item.form-type-select {
                padding: 15px;
                background: #fff;
            }
        }
        
        // Lieferung
        
        //Lieferzeiten
        .shipping-time .form-type-select,
        .form-type-select.form-item-shipping-day {
            float: left;
            padding: 15px;
            background: #fff;
            float: left;
            position: relative;
        }
        
        .shipping-time .form-type-select {
            border-right: 1px solid #ddd;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        
        .form-type-select.form-item-shipping-day {
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        
        //Lieferadresse
       
       
       .form-item-shipping-address-name {
        margin-bottom: 6px;
       }
    }
    
    .payment-method {
        margin-bottom: 22px;
            #edit-paymenttypes {
                .clearfix();
                margin-bottom: 15px;
            }
    }    
}