@sidebar-padding: 20px;
@2-col-breakpoint: 1200px;
@3-col-breakpoint: 1640px;
@col-1 : 850px;
 

.page-lieferanten {

    //trusted shops badge
    #tsbadge_db8d3657bdbe440c985ae127463eaad4.standard,
    #tsbadgeResponsive_db8d3657bdbe440c985ae127463eaad4node {
        display: none!important;
    }

    ::placeholder {
        color: #CACACA;
    }
    
    .breadcrumbs-container.large {display:    none;}

    .navbar-default {
        background-color:   #fff;
    }

    .col {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-8 {
        width: 66.66666667%;
        
        @media screen and (max-width: 1530px) {
            width: 75%;
        }
        @media screen and (max-width: 1250px) {
            width: 100%;
        }
    }
    
    .label-col {
        margin-bottom: 5px;
        @media screen and (max-width: 1250px) {
            display: none;
        }
    }
    
    
    .col-xs-12 {
        padding-left: @sidebar-padding;
        padding-right: @sidebar-padding;
    }
    
    .container {
        @media screen and (max-width: 850px) {
            width: 100%;
            margin: 0px;
        }
    }
    
    .map {
        position: fixed;
        top:65px;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;

        @media screen and (min-width: @col-1){
            width: 43%;
        }
        @media screen and (min-width: 992px){
            width: 40%;
        }
    }
        
    .marker-content {
        line-height:1.35;
        overflow:hidden;
        white-space:nowrap;

        h4 {
            margin-bottom: 3px;
        }
        
        ul {
            margin-bottom: 10px;
        }

         color: @gray;
        display: block;
        font-family:  @font-family-sans-serif;
        text-decoration: none;
        font-size: 14px;
    }
    
    .sidebar {
        position:fixed;
        top:65px;
        right: 0;
        padding: 0;
        bottom: 0;
        overflow-y: scroll;
        z-index: 2;
        width: 57%;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 18px 7px;
        
        @media screen and (min-width: 992px) {
            width: 60%;
        }
        
        @media screen and (max-width: @col-1) {
            width: 100%;
            position: relative;
            top: 0px;
            left: 0px;
            right: inherit;
            bottom: inherit;
            overflow-y: auto;
        }
        
        .filter-area {
            background: #fff;
            padding: 0px 20px;
            border-bottom: 1px solid #ddd;
            min-height: 160px;

            h1 {
                font-weight: 700;
                margin-bottom: 15px;
                margin-top: 0;
            }
            
            .row {
                position: relative;
            }
            
            .row.search {
                padding-top: 21px ;
                padding-bottom: 15px;

                .label-col {
                    padding-top:    14px;
                    @media screen and (max-width: 1250px) {
                        padding-top:   0px;
                    }
                }
            }
            
            .row.search:before {
                content: "";
                position: absolute;
                bottom: -1px;
                height: 1px;
                left: 15px;
                right: 15px;
                border-top: 1px solid #dce0e0;
                display: block;
            }

            .row.category-filter {
                padding-top: 19px;
                padding-bottom: 19px;

                .label-col {
                    padding-top:    9px;
                    @media screen and (max-width: 1250px) {
                        padding-top:   0px;
                    }
                }

                &.affix {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    position: fixed;
                    top: 65px;
                    left: 40%;
                    width: 60%;
                    margin-left: 0px;
                    margin-right: 0px;
                    background: #fff;
                    padding-right: 20px;
                    padding-left: 20px;
                    z-index: 25;
                    pointer-events: none;
                    border-bottom: 1px solid #ddd;
                   /* -moz-transition: all .7s cubic-bezier(0,1,.22,1);
                    -webkit-transition: all .7s cubic-bezier(0,1,.22,1);
                    -o-transition: all  .7s cubic-bezier(0,1,.22,1);
                    transition: all.7s cubic-bezier(0,1,.22,1);

                    -webkit-transition-property: padding-top, padding-bottom;
                    -moz-transition-property: padding-top, padding-bottom;
                    -o-transition-property: padding-top, padding-bottom;
                    transition-property: padding-top, padding-bottom;*/

                    .label-col {
                        margin-left: -15px;
                        margin-right: 3px;
                    }

                    .filter-wrapper {
                        margin-right: -15px;
                    }

                    @media screen and (max-width: 991px) {
                        width: 57%;
                        left: 43%;
                    }

                    @media screen and (max-width: 1250px) {
                         
                    }
                     
                }

            }
        }
        
        .search {
            .input-group {
               width: 100%;
            }
            
           .form-control {
                border: 1px solid #ccc;
                
                &:focus {
                    border-color: #adadad;
                    outline: 0;
                    box-shadow: none;
                 }
           }
           
           .input-group-btn {
                vertical-align: top;
            }
            
           .twitter-typeahead {
                width: 100%;
                
                .tt-suggestion {
                    
                }
                
                .tt-suggestion.tt-cursor {
                    background: #f8f8f8;
                }
                
                .tt-hint {
                    color: lighten(#555,60%);
                }
                
                .input-lg {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }
                
                .input-lg::-ms-clear {
                    display: none;
                }
                
                .tt-dropdown-menu {
                        width: 100%;
                        background-color:#fff;
                        border-left: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                        box-shadow: 0 5px 20px rgba(0,0,0,0.1);
                        border-bottom-right-radius: 4px;
                        border-bottom-left-radius: 4px;
                        max-height: 445px;
                        overflow: auto;
                        
                        h5 {
                            font-size: 12px;
                            line-height: 12px;
                            background-color: #f8f8f8;
                            padding: 5px 10px;
                            border-bottom: 1px solid #ddd;
                            margin: 0px;
                        }
                        
                        p {
                            padding: 12px 15px;
                            cursor: pointer;
                            overflow: hidden;
                            border-bottom: 1px solid #ddd;
                            font-size: 18px;
                            margin: 0px;
                            
                            &:hover,
                            &:active,
                            &:focus,
                            &.tt-cursor {
                                background-color: #f8f8f8;
                            }
                            
                        }       
                }
            }
           
            #clearQuery {
                position: absolute;
                right: 63px;
                top: 13px;
                z-index: 2;
                cursor: pointer;
                font-size: 20px;
                display: none;
                
                .fa-circle {
                    color: #ddd;
                }
                
                &:hover,
                &:focus {
                    .fa-circle {
                        color: #d7d7d7;
                    }
                }
            }
        }
        
            
        .filter-wrapper {
            margin-right: -5px;
            margin-left: -5px;
            
            .filter {
                margin-bottom: 0px;
                position: relative;
                display: inline-block;
                vertical-align: text-top;
                width: 32%;
                padding-left: 5px;
                padding-right: 5px;
                line-height:    1px;
                pointer-events: all;
                
                &.open {
                    
                    .filter-name {
                        color: #333;
                        background-color: #e6e6e6;
                        border-color: #adadad;
                        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
                    }
                    
                    .filter-content {
                        display: block;
                    }
                   
                }
                
                &.selected-category {
                    
                    .filter-name {
                        color: #fff;
                        background-color: @brand-primary;
                        font-weight: bold;
                        
                        .filter-name-text {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                        }
                        .show-more {
                            display: none;
                        }
                        
                        .reset {
                            display: block;
                        }
                    }
                }
            }
            
            .filter-name {
                font-size: 14px;
                line-height: 34px;
                overflow: hidden;
                height: 34px;
                width: 100%;
                padding: 0 0 0 12px;
                background-color: #fff;
                color: #555;
                display: inline-block;
                margin-right: 0;
                border-radius: 4px;
                border: 1px solid #ccc;
                cursor: pointer;
                opacity: 1;
                
                .filter-name-text {
                    padding-right: 17px;
                }
                
                .reset {
                    position: absolute;
                    top: 5px;
                    right: 7px;
                    padding: 5px;
                    display: none;
                }
                
                .show-more {
                    position: absolute;
                    top: 4px;
                    right: 6px;
                    padding: 7px;
                }
            }
            
            .filter-content {
                display: none;
                position: absolute;

                top: 39px;
                background-color: #fff;
                padding: 17px 20px 20px;
                z-index: 140;
                border: 1px solid #ddd;
                border-radius: 4px;
                box-shadow: 0 5px 20px rgba(0,0,0,0.1);
                
                 ul.filter-terms {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    column-gap: 0;
                    -moz-column-gap: 0;
                    -webkit-column-gap: 0;
                }
                
                li {
                    color: #000;
                    margin: 10px;
                    cursor: pointer;
                    display:    inline-block;
                    width:  100%;
                    line-height:    1px;

                    
                    &:hover {
                        color: @brand-primary;
                        
                         .filter-checkbox {
                            border: 1px solid @brand-primary;
                         }
                         
                         .checkbox-label {
                            color: @brand-primary;
                         }
                    }
                    
                    &.active {
                        font-weight: 700;
                        
                        .fa {
                            display: block!important;
                        }
                    }
                    
                }
                
                .filter-checkbox {
                    width: 18px;
                    height: 18px;
                    background-color: white;
                    float: left;
                    margin-right: 10px;
                    border: 1px solid #b3b3b3;
                    position: relative;
                    
                    .fa {
                        display: none;
                        position: absolute;
                        left: 1px;
                        top: 1px;
                        color: #555!important;
                    }
                }
                
                .checkbox-label {
                   font-size: 14px;
                    line-height: 1em;
                    text-transform: capitalize;
                    padding-top: 2px;
                    display: inline-block;
                    width: calc(100% - 28px);
                    vertical-align: top;
                    vertical-align: top;
                }
                 
            }
            
            .seller-type .filter-content {
                width: 650px;
                left: -167px;
                ul.filter-terms {
                    column-count: 4;
                    -moz-column-count: 4;
                    -webkit-column-count: 4;
                }
                
                @media screen and (max-width: 1250px){
                    width: 453px;
                    left: 3px;
                    
                    ul.filter-terms {
                        column-count: 3;
                        -moz-column-count: 3;
                        -webkit-column-count: 3;
                        
                    }
                }
            }
            
            .delivery-option .filter-content {
                width: 360px;
                left: -89px;
                 ul.filter-terms {
                    column-count: 2;
                    -moz-column-count: 2;
                    -webkit-column-count: 2;
                }
            }
            
            .payment-type .filter-content {
                width: 384px;
                right: 0px;
                
                 ul.filter-terms {
                    column-count:2;
                    -moz-column-count: 2;
                    -webkit-column-count: 2;
                }
            }
        }
         
        .seller-area {
            padding-top: 20px;
            position: relative;
            transition: all .2s ease-out;
            opacity:    1;
            min-height: 400px;

            &.loading {
                opacity:    0.29;
                
                &:before {
                    display: block;
                    top: 63%;
                    left: 71%;
                    content: " ";
                    .loader();
                    position: fixed;
                    margin-top: -15px;
                    margin-left: -15px;
                    z-index: 50;
                }
            }
           
            .row {
                margin-left: -10px;
                margin-right: -10px;
                margin-bottom: 10px;
            }
            
            .col-seller-item {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 15px;
                
                 @media screen and (min-width: @2-col-breakpoint){
                    margin-bottom: 20px;
                }
                
                 @media screen and (min-width: @3-col-breakpoint){
                    width: 33%;
                }
            }
            
             a.seller-item {
                position: relative;
                display: block;
                .box-border();
                text-decoration: none;
                border-radius: 4px;
                padding: 15px;
                transition: all .2s ease-out;
                color: @gray;


                @media screen and (min-width: @2-col-breakpoint){
                        min-height: 174px;
                }

                &:active {
                    box-shadow: none;
                }
                
                .fav-toggle {
                    position: absolute;
                    right: 17px;
                    top: 85px;
                    display: block;
                    z-index:    21;
                    
                    .fa {
                        color: #ddd;
                        font-size: 23px;
                    }
                    &:hover,
                    &:active {
                        .fa {
                            color:darken(#ddd, 10%);
                         }
                    }
                }

                 &.active {
                    background-color:   #fff;


                    .fav-toggle {
                        .fa {color: @brand-primary;}
                    }

                    .mask {
                        background:     #fff;
                    }
                }
    
                &:hover {
                    text-decoration: none;
                    .hoverShadow();
                    background-color: #fff;
                    

                    .fa-chevron-right {
                        color: @brand-primary;
                    }

                    .mask {
                        background:     #fff;
                    }
                }

                &:active {
                    box-shadow: none;
                }
         
                img {
                    width: 76px;
                    background-color: @body-bg;
                    border: 1px solid #ddd;
                    padding: 4px;
                    
                    @media screen and (min-width: @2-col-breakpoint){
                        position: absolute;
                        top: -12px;
                        right: -11px;
                        margin-right: 0;
                        z-index:    21;
                    }
                }
                
                h4 {
                    margin-top: 0;
                    margin-bottom: 10px;
                    font-weight: 700;
                    color: inherit;
                    
                    @media screen and (min-width: @2-col-breakpoint){
                       width: 85%;
                       height: 37px;
                    }
                }
                
                .media-body {
                    ul li {
                        white-space: nowrap;
                    }
                }
                
                .fa-chevron-right {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    margin-top: -11px;
                    font-size: 21px;
                    transition: all .2s linear;
                    color: #ddd;
                    z-index:    21;
                }

                .mask {
                    position: absolute;
                    width:  54px;
                    top:    0px;
                    right:  0px;
                    background:     @body-bg;
                    bottom:     0px;
                    display: block;
                    opacity:    0.8;
                    z-index:    20;
                    transition: all .2s ease-out;
               }

                .list-unstyled {
                    margin-bottom: 5px;
                }
                
                .separator {
                    width: 36px;
                    background-color: #ddd;
                    height: 2px;
                    margin-bottom: 3px;
                    
                }
            }
        }
        
    }

    .alert {
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .footer {
        display: none;
    }


    &.col-1 {

        .view-toggle {
            display: block;
            float: right;
            margin-top: 9px;
            margin-right: 10px;

            .btn {
                padding: 12px 14px;

                &.active {
                    color: #fff;
                    background-color: #95bc0d;
                    pointer-events: none;
                }
            }
        }

        .map {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            bottom: 100%;
            z-index: 0;
            opacity: 0;
        }

        &.mapView {

            padding-top: 0px;

            .filter-wrapper {
                position: fixed;
                bottom: 0px;
                left: 0px;
                z-index: 110;
                padding: 10px 0px;
                width: 100%;
                margin: 0px;
                background-color: rgba(255,255,255,.89);
                 

                .filter-content {
                    bottom: 100%;
                    margin-bottom: 19px;
                    top: inherit;
                    background-color: rgba(255,255,255,.89);
                }
            }
            
            .map {
                bottom: 0px;
                opacity: 1;
                z-index: 100;
                pointer-events: all;
            }
                
            .sidebar  {
                overflow-y: hidden;
                height:  1px;
                z-index: auto;
            }
      }
    }
}