@sidebar-padding: 20px;
.page-lieferanten {
    
    #feedbackify {
        display: none;
    }
    
    .col-xs-12 {
        padding-left: @sidebar-padding;
        padding-right: @sidebar-padding;
    }
    
    .row {
        margin-left: -@sidebar-padding;
        margin-right: -@sidebar-padding;
    }
    .map {
        position: fixed;
        top:65px;
        left: 0;
        bottom: 0;
        width: 60%;
        
         @media screen and (max-width: 1274px){
                       width: 49%;
                       
                   }
                   
                   @media screen and (max-width: 996px){
                       width: 37%;
                       
                   }
        z-index: 1;
          
      
    }
    
    .sidebar {
        position:fixed;
        top:65px;
        right: 0;
        padding: 0;
        bottom: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        width: 40%;
        z-index: 2;
        @media screen and (max-width: 1274px){
            width: 51%;
        }
                   
        @media screen and (max-width: 996px){
            width: 63%;
        }
        
        .filter-area {
            background: #fff;
            padding-bottom: 20px;
            
            h1 {
                font-weight: 700;
                margin-bottom: 15px;
            }
        }
        
        .seller-area {
            padding-top: 20px;
            
             a.seller-item {
                position: relative;
                display: block;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 15px;
                transition: all .2s linear;
                color: @gray;
            
                &:hover,
                &:focus,
                &:active {
                    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
                    background-color: #fff;
                    text-decoration: none;
                }
                
                img {
                    width: 85px;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    padding: 4px;
                }
                
                h3 {
                    margin-top: 0;
                    margin-bottom: 10px;
                    font-weight: 700;
                    color: inherit;
                    
                }
                
                .btn {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    margin-top: -11px;
                    
                    @media screen and (max-width: 1348px){
                       top: auto;
                       bottom: 15px;
                   }
                }
                
                .list-unstyled {
                    margin-bottom: 5px;
                }
                
                .separator {
                    width: 36px;
                    background-color: #ddd;
                    height: 2px;
                    margin-bottom: 3px;
                    
                }
            }
        }
        
    }
    
    .footer {
        display: none;
    }
}