.node-type-seller-profile {

    .breadcrumbs-container {
        height:     47px;
    }  

    //trusted shops badge
    #tsbadge_db8d3657bdbe440c985ae127463eaad4.standard {
        display: none!important;
    }

    .affix {
        width: 290px;
        top: 73px;
    }

     .affix-top {

     }

     .affix-bottom {
        position: absolute;
        bottom: 0px;
        width: 290px;
     }

    .toparea {
        position:   relative;
    }  

    .breadcrumbs {
        padding-left:   30px;

        li a {
           padding: 15px 0 12px 49px;

           &.empty {
            cursor-events: none;
            padding: 0px;
            display: none;
           }
        }
    }

    .lpr {
        padding-right:  5px;
    }

    .lpl {
        padding-left:   5px;
    }

    @media screen and (max-width:@screen-xs-max) {
        .lpl {
            padding-left: 15px;
        }

        .lpr {
            padding-right: 15px;
        }
    }


    .tabarea {
        position:   absolute;
        top:    0px;
        right:  16px;
        padding:    0 15px;
        width:  @flexfix-sidebar-width;
        height:     47px;
        box-shadow: -6px 0 8px -6px rgba(0,0,0,.25);

       &:before {
           content: "";
           display: block;
           width: 20px;
           height: 20px;
           position: absolute;
           top: -8px;
           left: 0;
           box-shadow: -6px 0 8px -6px rgba(0,0,0,.25);
           }
            
            &:after {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 36px;
                left: 0;
                box-shadow: -6px 0 8px -6px rgba(0,0,0,.25);
            }


        .tab-item {
            display: inline-block;
            /* line-height: 46px; */
            position: absolute;
            bottom: -1px;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
            text-decoration: none;
            color: #555;
            left: 6px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 10px 13px;
            background: #f8f8f8;
        }
    }

    .nav-tabs {
        display: none;
    }
    
    .seller-info {

        margin-bottom:  10px;

        .seller-image {
            background:     #fff;
            padding:    5px;
            border:     1px solid #ddd;
        }

        ul.seller-meta {
            li {
                position: relative;
                padding-left:   22px;
                margin-bottom:  6px;
            }

            .fa {
                position:   absolute;
                left:   0px;
                top:    3px;
            }
        }

        .btn-default {
            width: 100%;

            @media screen and (min-width: @screen-lg-min){
                width: 70%;
            }
        }
    }   

    .row.delivery-options {

        .delivery-options-container { 
            padding:  10px 5px;
            margin-right: -15px;
            background: #EFEFEF;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            text-align: justify;
            height: 65px;

            &:after {
                content: '';
                width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
                display: inline-block;
            }

            .delivery-option {
                width: 200px;
                text-align:     left;   
                display: inline-block;
                position:   relative;
                padding:    5px 10px 5px 38px;
                line-height: 16px;
                display: inline-block;

                .indicator {
                    color: @brand-primary;
                }

                .text-muted {
                    text-align: left;
                }
                
                a {
                    color: inherit;
                    display: block;

                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: none;
                        
                    }
                }
               
                .sprite {
                    position:  absolute;
                    
                }
                .sprite-delivery-pickup {
                    left: 10px;
                    top: 10px;
                }
                
                .sprite-delivery-truck {
                    top: 10px;
                    left: 6px;
                }

                .sprite-delivery-mail {
                    top: 7px;
                    left: 11px;
                }


                &.inactive {
                    color: #ddd;

                    .text-muted {
                        color: #969696;
                    }

                    .sprite {
                        opacity: 0.4;
                    }
                }
            }

            @media screen and (max-width:@screen-sm-max) {
                margin-right: 0px;
            }

            @media screen and (max-width:@screen-xs-max) {
                text-align: left;
                height: auto;

                .delivery-option {
                    display: block;
                }

                &:after {
                    display: none;
                    width: 0px;
                    visibility: hidden;
                }
            }
        }
    }

    .modal-body {
        .media-object {
            margin-right: 15px;
        }
    }

    .info-wrapper {
        padding: 14px 0px 0px 0px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        
        .col-md-3 {
            border-left: 1px solid #ddd;
        }
    }
    
    .seller-infos {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        h1 {
            margin-top: 0px;
            margin-bottom: 5px;
        }
        
        .seller-description {
            p {
                margin-bottom: 1px;
            }
            
            img {
                background-color: #fff;
                border: 1px solid #ddd;
                padding: 4px;
            }
        }
    }
    
/*

Product Grid

*/
    .product-grid-container {
        padding: 0px 15px 0px 15px;
    }


    .grid-header {
         .input-group {
            width: 100%;
            margin-top: 14px;

            @media screen and (max-width:@screen-sm-max) {
                margin-bottom: 14px;
            }
         }
         
        .form-control {
             border: 1px solid #ccc;
             
             &:focus {
                 border-color: #adadad;
                 outline: 0;
                 box-shadow: none;
              }
        }
        
        .input-group-btn {
             vertical-align: top;
         }
         
        .twitter-typeahead {
             width: 100%;
             
             .tt-suggestion {
                 
             }
             
             .tt-suggestion.tt-cursor {
                 background: #f8f8f8;
             }
             
             .tt-hint {
                 color: lighten(#555,60%);
             }
             
             .input-sm {
                 border-top-left-radius: 4px;
                 border-bottom-left-radius: 4px;

             }
             
             .input-sm::-ms-clear {
                 display: none;
             }

             .tt-dropdown-menu {
                     width: 100%;
                     background-color:#fff;
                     border-left: 1px solid #ddd;
                     border-bottom: 1px solid #ddd;
                     border-right: 1px solid #ddd;
                     box-shadow: 0 5px 20px rgba(0,0,0,0.1);
                     border-bottom-right-radius: 4px;
                     border-bottom-left-radius: 4px;
                     max-height: 445px;
                     overflow: auto;
                     
                     p {
                         padding: 12px 15px;
                         cursor: pointer;
                         overflow: hidden;
                         border-bottom: 1px solid #ddd;
                         font-size: 14px;
                         margin: 0px;
                         
                         &:hover,
                         &:active,
                         &:focus,
                         &.tt-cursor {
                             background-color: #f8f8f8;
                         }
                         
                     }       
             }
         }
        
         #clearQuery {
             position: absolute;
             right: 41px;
             top: 8px;
             z-index: 2;
             cursor: pointer;
             font-size: 16px;
             display: none;
             
             .fa-circle {
                 color: #ddd;
             }
             
             &:hover,
             &:focus {
                 .fa-circle {
                     color: #d7d7d7;
                 }
             }
         }
    }

    .product-grid {
        margin: 0;
        margin-left: -5px;
        margin-right: -5px;
        padding: 0;
        list-style: none;

        li.grid-item {
            position: relative;
            min-height: 1px;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 10px;
            float: left;
            width: 100%;

            @media screen and (min-width: 450px){
                width: 50%;
            }
            
            @media screen and (min-width: @screen-sm-min){
                width: 33%;
            }
            
            @media screen and (min-width: @screen-lg-min){
                width: 25%;
            }
        }
               
        .product-item {
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #fff;
            position: relative;
            transition: all .12s ease-out;
            
            &:hover,
            &:focus {
                 box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
                    text-decoration: none;
            }
            
            .product-image {
                overflow: hidden;
                border-radius: 4px 4px 0 0;
                
                a {
                    display: block;
                }
                
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 4px 4px 0 0;
                    display: inline-block;
                    height: 130px;
                }
            }
            
            .product-infos {
                height: auto;
                @media screen and (min-width: 450px){
                   height: 145px;
                }
                
                
                .product-title {
                    border-bottom: 1px solid #DDD;
                  
                    a.title {
                        line-height: 16px;
                        display: block;
                        padding: 8px 10px 6px;
                    }
                     
                    .details {
                        position: absolute;
                        right: 10px;
                        bottom: 0px;
                        font-size: 11px;
                        display: inline-block;
                        padding-top: 3px;
                        
                        .glyphicon {
                            top: 2px;
                        }
                    }
                }
                
                .product-price {
                    padding: 10px 10px 10px 10px;
                    
                    .btn-input {
                        display: block;

                        
                    }
                    .btn {
                        width: 100%;
                        position: relative;
                        padding: 7px 5px 6px;

                    }
                    
                    .btn-default {
                        background-color: transparent;
                    }
                        
                    .tradingunit-single {
                        width: 100%;
                        position: relative;
                        padding: 7px 0px;
                         
                        border-radius: 4px;
                    }
                    
                    .price {
                        
                        text-align: left;
                    }
                    .price-unit,
                    .price-info {
                        height: 46px;
                    }
                    
                    .price-unit {
                        font-size: 16px;
                        float: left;
                        padding-right: 4px;
                        line-height: 17px;
                        border-right: 1px solid #ddd;
                        
                        span {
                            display: block;
                        }
                        
                        .unit-name {
                            font-size: 12px;
                        }
                        .unit-amount {
                            font-size: 11px;
                            line-height: 11px;
                        }
                    }
                    
                    .price-info {
                         
                        font-size: 9px;
                        float: left;
                        padding-left:4px;
                        position: relative;
                        
                        .indicator {
                            background-color: @brand-primary;
                            padding: 2px 4px;
                            color: #fff;
                            position: absolute;
                            bottom: 0;
                            left: 5px;
                            border-radius: .25em;
                        }
                    }
                    
                    .dropdown-menu {
                        width: 100%;
                        padding: 0px;
                        
                       li a {
                            padding: 8px 5px;
                            border-bottom: 1px solid #DDD;
                       }
                       
                       .indicator {
                        display: none;
                       }        
                    }
                }
            }
        }

        .add-to-cart-area {
            border-top: 1px solid #DDD;
            border-radius: 0 0 4px 4px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            line-height: 37px;
            height: 42px;

            .btn {
                line-height: inherit;
                padding: 0px;
                border:none;
                background-color: transparent;
                height: 100%;
            }
                
            button.add2Cart {
                width: 100%;
                border-radius: 0 0 4px 4px;
                font-size: 14px;
               
                .fa-check-circle {
                    color: @brand-primary;
                }

                &:hover
                 {
                    background: #f5f5f5;
                }
            }

            button.removeItem,
            button.addItem {
                position: absolute;
                display: none;
                width: 42px;

                &:hover {
                    background: darken(@brand-primary, 2%);
                }

                &:active {
                    background: darken(@brand-primary, 2.75%);
                }
            }

            button.removeItem {
                left: 0px;
                top: 0px;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            button.addItem {
                right :  0px;
                top: 0px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            &.filled {
                
                background: @brand-primary;
                
                button {
                    color: #fff;
                }

                button.removeItem,
                button.addItem {
                    display: block;
                }

                button.add2Cart {
                    pointer-events: none;
                    cursor: default;
                    font-weight: bold;
                    background: @brand-primary
                }
            }

        }
    }



// Modals

.modal.fade {
    .media-object {
        display: none;
    }

    @media screen and (min-width: 950px) {
        .media-object {
            display: block;
        }
    }
}

    #detailModal {

        /*.media-object {
            display: none;
        }

        @media screen and (min-width: 950px) {
            display: block;
        }*/


        h3 {
            
        }
    }

    #pickupModal {

        .modal-dialog {
            max-width: 1000px;
            width: 98%;
            overflow-x: auto;

        }
        
        .modal-body {
            padding: 0;
            height: 349px;
        }
        
        .pickupMap {
            width: 100%;
            height:200px;

            @media screen and (min-width: 950px) {
                width: 35%;
                float: left;
                height:349px;
            }
           
        }
        
        .pickupInfo {

            @media screen and (min-width: 950px) {
                height: 100%;
                position: relative;
                z-index: 0;
                border-left: 1px solid #ddd;
                width: 65%;
                float: right;
                overflow: auto;
            }
          
            .pickup-spot {
                padding:5px 15px;
                border-bottom: 1px solid #ddd;
                transition: all 0.12s ease-out;
            
                &.striped {
                    background-color: #f8f8f8;
                }
                
                .spot-title {
                    margin-bottom: 5px;
                    .fa {
                        color: @brand-primary
                    }
                }
                
                .pickup-times {
                    font-size: 85%;
                    margin-bottom: 0;
                    white-space: nowrap;
                }
                
                &:hover,
                &:active,
                &:focus {
                    background-color: darken(#f8f8f8,6%);
                }
                
                &:last-child {
                    padding-bottom: 10px;
                }
            }
        }
    }
}