.node-type-seller-profile {
    #feedbackify .fby-tab-r {
        display:none
    }
    .affix {
        top: 65px;
        right: 15px;
        position: fixed;
        width: 309px;
    }
    
    .modal-body {
        .media-object {
            margin-right: 15px;
        }
    }
}

.content-wrapper {
    position: relative;
}

.grid-l {
    width: 340px;
    position: absolute;
    right:0;
    top:0px;
   
    z-index: 10;
    min-height: 1px;
    padding: 0 15px;
    border-left: 1px solid #DDD;
    box-shadow: -6px 0 8px -6px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.wrapper-m {
    float: left;
    width: 100%;
    margin-right: -340px;
    position: relative;
    z-index: 5;
}

.wrapper-m-inner {
    margin-right: 340px;
    padding: 0 15px;
}

.seller-infos {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    
    .seller-description {
        
        .description {
            max-width: 770px;
        }
    }
}

.product-grid {
    margin: 0;
    margin-left: -5px;
    margin-right: -5px;
    padding: 0;
    list-style: none;
    
    li.grid-item {
        position: relative;
        min-height: 1px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
        float: left;
        width: 100%;
        
        @media screen and (min-width: 797px){
            width: 50%;
        }
        
        @media screen and (min-width: 1017px){
            width: 33%;
        }
        
        @media screen and (min-width: 1205px){
            width: 25%;
        }
        
        @media screen and (min-width: 1436px){
            width: 20%;
        }
        
         @media screen and (min-width: 1882px){
            width: 16%;
        }
        
        .product-item {
            border: 1px solid #DDD;
            border-radius: 4px;
            position: relative;
            
            &:hover {
                 
                box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
            }
            
            .product-image {
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            
            .product-infos {
                
                height: 129px;
            
                .product-title {
                    border-bottom: 1px solid #DDD;
                  
                    
                    a.title {
                        line-height: 16px;
                        display: block;
                        padding: 8px 10px 6px;
                    }
                     
                    .details {
                        position: absolute;
                        right: 10px;
                        bottom: 0px;
                        font-size: 11px;
                        display: inline-block;
                        padding-top: 3px;
                        
                        .glyphicon {
                            top: 2px;
                        }
                    }
                }
                
                .product-price {
                    padding: 10px 10px 10px 10px;
                    
                    .btn-input {
                        display: block;
                        
                    }
                    .btn {
                        width: 100%;
                        position: relative;
                        padding: 7px 5px 6px;
                    }
                    
                    .tradingunit-single {
                        width: 100%;
                        position: relative;
                        padding: 7px 5px 6px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }
                    
                    .price {
                        color: #333;
                        text-align: left;
                    }
                    .price-unit,
                    .price-info {
                        height: 46px;
                    }
                    
                    .price-unit {
                        font-size: 20px;
                        float: left;
                        padding-right: 5px;
                        line-height: 17px;
                        border-right: 1px solid #ddd;
                        
                        span {
                            display: block;
                        }
                        
                        .unit-name {
                            font-size: 12px;
                        }
                        .unit-amount {
                            font-size: 10px;
                            line-height: 11px;
                        }
                    }
                    
                    .price-info {
                         
                        font-size: 9px;
                        float: left;
                        padding-left: 5px;
                        position: relative;
                        
                        .indicator {
                            background-color: @brand-primary;
                            padding: 2px 4px;
                            color: #fff;
                            position: absolute;
                            bottom: 0;
                            left: 5px;
                            border-radius: .25em;
                        }
                       
                    }
                    
                    .dropdown-menu {
                        width: 100%;
                        padding: 0px;
                        
                       li a {
                            padding: 8px 9px;
                            border-bottom: 1px solid #DDD;
                       }
                       
                       .indicator {
                        display: none;
                       }
                         
                    }
                }
            }
        }

        .add-to-cart-area {
            
            button.btn {
                border: none;
                border-top: 1px solid #ddd;
                width: 100%;
                border-radius: 0;
                padding: 13px 16px;
                font-size: 14px;
            }

        }
    }
    
    
    
}