.front {
    
    .page-title {
        text-align: center;
    }
    
    .page-header {
        margin: 40px 0 33px;
    }
    
    .benefits {
        text-align: center;
        
        
        
        ul {
            text-align: left;
            list-style: none;
            
            li {
                position: relative;
                padding: 0px 15px;
                margin-bottom: 10px;
                .fa {
                    position: absolute;
                    left: -15px;
                    top: 3px;
                    color: @brand-primary;
                }
            }
        }
        
        h4 {
            margin-bottom: 20px;
        }
        
        img {
            margin-bottom: 15px;
        }
       
    }
    
    
}