.front {
    overflow-x: hidden;
    .page-title {
        text-align: center;
    }
    
    .page-header {
        margin: 40px 0 33px;
    }
    
    .content-wrapper {
        padding: 53px 0 95px 0;
        
        @media screen and (max-width: 767px) {
                   padding: 20px 0px;
                }
        
        &.white {
            background-color: #fff;
        }
    }
    .internal {
            color: #555;
            cursor: pointer;
            margin-bottom: 30px;
            background: none;
    }
    
    .anchor {
        font-weight: 700;
        color: @brand-primary;
        margin-bottom: 20px;
    }
    
    h2 {
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 20px;
        }

/*content areas*/

    /*benefits*/
    
    .row.benefits {
        
        .lead {
            margin-bottom: 53px;
        }
        img {
            margin-bottom: 20px;
        }
        
         h4 {
            margin-bottom: 20px;
            
        }
       
        ul {
            padding-left: 0px;
            list-style: none;
            margin-bottom: 23px;
            
            li {
                position: relative;
                padding: 0 0px 0px 23px;
                margin-bottom: 10px;
                
                .fa {
                    position: absolute;
                    left: 0px;
                    top: 3px;
                    color: @brand-primary;
                }
            }
        }
    }

   /* participants*/

   .row.participants {
    margin-bottom:  70px;
   }

    #frontpageGoogleMap {
        height: 500px;
        width: 100%;
        
        @media screen and (max-width:768px) {
                height: 250px;
            }
    }
    
    .map-wrapper {
        position: relative;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        z-index: 30;
        
        &:before { 
            top: 10px;
            bottom: 10px;
            left: 0;
            right: 50%;
            -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
            -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
            box-shadow: 0 0 15px rgba(0,0,0,0.6);
            -moz-border-radius: 10px / 100px;
            border-radius: 10px / 100px;
            content: "";
            position: absolute;
            z-index: -2;
            right:0px;
            }
      
    }
    
    .map {
        position: relative;
        
        .wall {
            position: absolute;
            @media screen and (max-width:1000px) {
                display: none;
            }
            
            &.left {
                background: url(../images/wall_left.jpg) no-repeat;
                left: -362px;
                width: 445px;
                height: 367px;
                bottom: 9px;
                z-index: 0;
            }
            
            &.right {
                background: url(../images/wall_right.jpg) no-repeat;
                right: -362px;
                width: 426px;
                height: 387px;
                bottom: 0px;
                z-index: 0;
            }
        }
        text-align: center;
        
        #map-control {
            margin-bottom:20px;
        }
        
        .control { 
             margin: 0 40px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            
            .filter-checkbox {
                margin-top: 6px;
                width: 18px;
                height: 18px;
                background-color: #fff;
                display: inline-block;
                margin-right: 10px;
                border: 1px solid #b3b3b3;
                float: left;
                position: relative;
                
                &:hover,
                &:focus {
                    border: 1px solid #95bc0d;
                }
                
                .fa {
                    position: absolute;
                    left: 1px;
                    top: 1px;
                    color: #555!important;
                    display: none;
                }
            }
            
            span.marker-icon {
                display:  inline-block;
                margin-top: -13px;
            }
            
            &.active {
                .fa {
                    display: block;
                }
            }
        }
    }

/* testimonials*/
    .testimonials {

        .quote-s {
            margin: 30px 0px;
        }

        .fa-quote-left {
           /* position: absolute;;
            left: 0px;
            top: 0px;*/
            color: @brand-primary;
        }
        .carousel {
            min-height:     200px;
        }

        p.quote-symbol {
            margin-bottom:  20px;
        }
        
        .item { 
            

            img.pull-right {
                margin-left: 20px;
            }

            blockquote {
                border-left:    0px;
                padding: 0px 20px 10px 20px;
            }

            blockquote.blockquote-reverse {
                border-right:   none;
            }

            blockquote footer:before,
            blockquote footer:after {
                font-weight:    bold;
            }
        }

        .carousel-indicators {
                bottom: -30px;

                .active {
                    background-color:   @brand-primary;
                }
        }

        .carousel-indicators li {
                border: none;
                background-color: lighten(#555,30%);
        }
    }
    
    .howTo {
        
        .lead {margin-bottom: 30px;}
        
        ul {
            padding-left: 0px;
            list-style: none;
            margin-bottom: 23px;
            
            li {
                position: relative;
                padding: 0 0px 0px 23px;
                margin-bottom: 10px;
                
                .fa {
                    position: absolute;
                    left: 0px;
                    top: 3px;
                    color: @brand-primary;
                }
            }
        }
        
        .btn {
            width: 196px;
        }
        
        @media screen and (max-width: 991px) {
            .btn {
                margin: 0 auto;
                display: block;
            }
        }
        
       
        
        .steps {
            
            p {
                font-size: 12px;
            }
            
            .row {
                margin-bottom: 25px;
            }
            
            &.steps-rightside {
                
                .text-rightside img {
                    margin-right: -107px;
                }
                
                @media screen and (max-width: 1199px) {
                    .text-rightside img {
                        margin-right: -95px;
                    }
                }
            
                .text-leftside img {
                    margin-right: 13px;
                }
                
                @media screen and (max-width: 1199px) {
                    .text-leftside img {
                        margin-right: 0px;
                    }
                }
                
                img.map {
                    margin-top: -24px;
                }
                
                img.payment {
                    margin-top: 12px
                }
                
                img.select {
                    margin-top: 11px
                }
                
                img.delivery {
                    margin-top: 11px
                }
                
                img.suggest {
                    margin-right: -107px;
                    margin-top: -3px;
                }
                
                @media screen and (max-width: 1199px) {
                    img.suggest {
                        margin-right: -95px;
                    }
                }

                
                img.bubble {
                      margin-top:-9px;
                }
                
                @media screen and (max-width: 991px) {
                    img {
                        margin: 0px!important;
                        float: right!important;
                    }
                }
            }
            
            &.steps-leftside {
                
                .text-rightside img {
                   margin-right: 19px;
                }
            
                .text-leftside img {
                    margin-left: 20px;
                }
                
                @media screen and (max-width: 1199px) {
                    .text-rightside img {
                        margin-right: 5px;
                    }
                }
                
                img.suggest {
                    margin-top: -21px;
                    margin-left: 32px;
                }
                
                img.listimage {
                    margin-top:-12px;
                }
                
                @media screen and (max-width: 991px) {
                    img {
                        margin: 0px!important;
                        float: right!important;
                    }
                }
            }
            
            &.gastro {
                 padding-top: 42px;
            }
            
            &.seller {
                 padding-top: 43px;
            }
            
            &.regional {
                 padding-top: 42px;
            }
            
            
             @media screen and (max-width: 991px) {
                   padding-top: 15px!important;
                }
            
        }
         
    }
}